<html>

<head>
<title upercase>Alcateia</title>

    <style>

        body{

            width: auto;
            height: auto;
            background-color: rgb(255, 0, 0);
            background-image: url(alcateia.png);
            padding: auto;
            margin: 700px;


        }
     </style>

    <title>Alcateia</title>

</head>

<body>
    <form method="POST" action="cadastro.php">
        <label><h1><b>Alcateia<b></h1></label><br>
        <label><b>Nome:<b></label><input type="text" name="nome" id="nome" ><br><br>
        <label for="email"><b>Email:<b></label><input type="email" name="email" id="email" ><br><br>
        <input type="submit" value="Cadastrar membro" id="cadastrar" name="cadastrar"><br><br>
        <a href="nome.html"><b>Entrar</b></a>
    </form>
</body>

</html>
